* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Montserrat;
}

 :focus {
  outline: none;
}

html {
  font-size: 1vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  min-height: 10rem;
  height: 20px;
  position: relative;
}

.logo {
  vertical-align: middle;
  max-height: 50px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(5rem - 25px);
  margin-left: 1rem;
}

main {
  width: 100%;
  min-height: 250px;
  height: 50rem;
  text-align: center;
  background-image: url('https://content.codecademy.com/courses/intermediate-javascript-requests/wanderlust/background_photo_desktop.jpg');
  background-size: cover;
  background-position: top;
}

h1 {
  padding: 5rem 0;
  font-size: 10rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 1px 1px 2px darkblue;
  margin: auto;
}

form {
  padding: 2rem;
  width: 50%;
  min-height: 1rem;
  height: 50px;
  margin: 0 auto;
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

form>input {
  height: 100%;
  width: 70%;
  border-radius: 50px;
  border: solid 1px darkblue;
  background: linear-gradient(90deg, hsla(234, 94%, 40%, 0.50), rgba(6, 89, 198, 0.50), rgba(6, 104, 196, 0.50));
  text-align: left;
  color: white;
  padding-left: 3rem;
  font-size: 3rem;
}

form>button {
  height: 100%;
  width: 20%;
  border-radius: 10px;
  background: radial-gradient(#0668c4, #0658c4, #0619c4);
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-left: 1rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  visibility: hidden;
  text-align: center;
  margin-top: 10rem;
}

h2 {
  font-size: 4rem;
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding: 2rem
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 33rem;
}

div.weather {
  min-width: 200px;
  width: 50%;
  min-height: 250x;
  height: 20rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  /* font-size: 1rem; */
}

div.weather>ul {
  width: 90%;
  list-style: none;
  font-size: 2.5rem;
  margin: 0 auto;
}

div.weather>ul>li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  margin-left: 33%;
}

div.weather>ul>li>span {
  margin-right: 1rem;
  flex-basis: 30%;
  text-align: left;
}


/* .gallery{} */

h3 {
  font-family: Work Sans;
  font-weight: 500;
  line-height: 1.29;
  color: #27c19e;
  padding-left: 5px
}

p {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  min-width: 400px;
  width: 25%;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.venueimage {
  margin-top: 20px;
}

.bestphoto {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

#venues h2 {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 0.77;
  text-align: center;
  padding-top: 5px;
}

#destination {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: left;
  color: #27b7c1;
}

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
}


/* #city {
  width: 286px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: inherit;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}
#button {
  width: 140px;
  height: 46px;
  border-radius: 4px;
  background-color: #27b7c1;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
} */

@media (max-width: 860px) {
  main {
    background-image: url('https://content.codecademy.com/courses/intermediate-javascript-requests/wanderlust/background_photo_moble.jpg');
  }
  h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  form {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  #venues,
  #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .venue,
  .weather {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  .weather {
    padding: 10px 20px;
    height: 100%;
  }
  .sectiontitle,
  .sectiontitle h2,
  #destination {
    margin: auto;
    text-align: center;
  }
}